#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NUM  1
#define NAV  2
#define MOU  3
#define ADJ  4

&mt {
  quick-tap-ms = <100>;
  global-quick-tap;
  flavor = "tap-preferred";
  tapping-term-ms = <170>;
};

/ {
    macros {
        st_macro_0: st_macro_0 {
            label = "st_macro_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LA(LG(X))>;
        };

        st_macro_1: st_macro_1 {
            label = "st_macro_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LA(LG(C))>;
        };

        st_macro_2: st_macro_2 {
            label = "st_macro_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(LS(RA(LGUI)))>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
                &kp Q               &kp W               &kp E               &kp R               &kp T               &kp Y               &kp U               &kp I               &kp O               &kp P
                &kp A               &kp S               &kp D               &kp F               &kp G               &kp H               &kp J               &kp K               &kp L               &kp SEMI
                &mt LCTRL CAPS      &kp Z               &kp X               &kp C               &kp V               &kp B               &kp N               &kp M               &kp COMMA           &kp DOT             &kp FSLH            &mt RSHFT SQT
                                                        &kp LGUI            &lt NUM SPACE        &lt NAV TAB          &mt RGUI RET        &mt RALT BSPC       &kp RCTRL
            >;
        };

        num_layer {
            label = "NUM";
            bindings = <
                &kp TILDE           &kp F1              &kp F2              &kp F3              &kp F4              &kp F5              &kp F6              &kp F7              &kp F8              &kp F9
                &kp GRAVE           &kp EXCL            &kp AT              &kp HASH            &kp DLLR            &kp KP_N7           &kp KP_N8           &kp KP_N9           &kp FSLH            &kp F10
                &trans              &kp CARET           &kp AMPS            &kp ASTRK           &kp LPAR            &kp RPAR            &kp KP_N4           &kp KP_N5           &kp KP_N6           &kp KP_PLUS         &kp KP_MINUS        &kp F11
                                                        &trans              &trans              &trans              &mo ADJ             &kp KP_N0           &kp F12
            >;
        };

        nav_layer {
            label = "NAV";
            bindings = <
                &trans              &kp C_VOL_DN        &kp C_VOL_UP        &kp C_MUTE          &trans              &kp PG_UP           &kp HOME            &kp UP              &kp END             &trans
                &kp C_PREV          &kp C_NEXT          &kp C_STOP          &kp C_PP            &trans              &kp PG_DN           &kp LEFT            &kp DOWN            &kp RIGHT           &trans
                &trans              &st_macro_0         &st_macro_1         &st_macro_2         &kp LA(LS(RC(Q)))  &kp LC(LS(TAB))    &kp LC(TAB)         &kp LG(RC(LEFT))    &kp LG(RC(RIGHT))   &kp K_MENU          &mo MOU             &kp DEL
                                                        &trans              &trans              &trans              &mo ADJ             &kp DEL             &trans
            >;
        };

        mou_layer {
            label = "MOU";
            bindings = <
                &trans              &trans              &trans              &trans              &trans              &trans              &mkp LCLK           &mmv MOVE_UP        &mkp RCLK           &trans
                &trans              &trans              &trans              &trans              &trans              &trans              &mmv MOVE_LEFT      &mmv MOVE_DOWN      &mmv MOVE_RIGHT     &trans
                &trans              &trans              &trans              &trans              &trans              &trans              &msc SCRL_LEFT      &msc SCRL_DOWN      &msc SCRL_UP        &msc SCRL_RIGHT     &mkp MCLK           &trans
                                                        &trans              &trans              &trans              &trans              &trans              &trans
            >;
        };

        adjust_layer {
            label = "ADJ";
            bindings = <
                &sys_reset          &bootloader         &bt BT_CLR          &bt BT_PRV          &bt BT_NXT          &trans      &kp F7              &kp F8              &kp F9              &kp F12
                &out OUT_USB        &out OUT_BLE        &out OUT_TOG        &trans              &trans              &trans              &kp F4              &kp F5              &kp F6              &kp F11
                &trans              &trans              &trans              &trans              &trans              &trans              &kp F1              &kp F2              &kp F3              &kp F10             &trans              &trans
                                                        &trans              &trans              &trans              &trans              &trans              &trans
            >;
        };
    };
};
